/* CSS declarations go here */
body, html, .container-fluid {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#canvas {
    position:absolute;
    top:0px;
    left:0px;
}

.edit.container-fluid {

}

.edit .r1 {
    height: 100%;
}


.doit .r1 {
    width: 100%;
    height: 100%;
}

.edit .video iframe {
    width: 100%;
    height: 100%;
}

.doit .video iframe {
    width: 100%;
    height: 100%;
}

.edit .video {
    width: 100%;
    height: 90%;
}

.edit .lyrics {
    font-size: 20px;
    line-height: 40px;
    width: 100%;
    height: 90%;
}

.mark {
    margin-bottom: 0px;
    border-bottom: 1px solid black;
}

.muit .thetracks, .muit .lyrcont, .muit .marks, .doit .lyrcont, .doit .marks, .doit .tracks, .edit .grabit, .doit .grabit {
    display:none;
}


.doit, .doit .vidcont{
    margin: 0px 0px 0px 0px !important;
    width: 100% !important;
    height: 100% !important;
    padding: 0px 0px 0px 0px !important;
    overflow: hidden;
}

.muit .tracks {
    width: 29% !important;
}
.muit .vidcont {
    margin: 0px 0px 0px 0px !important;
    width: 65% !important;
    height: 100% !important;
    padding: 0px 0px 0px 0px !important;
    overflow: hidden;
}


.muit .video iframe{
    height: 70%;
    margin-top: 20px;
}

.muit .video {
    text-align: center;
}

.edit .video {
    height: 60%;
}
.marks {
height: 35%;
overflow:auto;
}

.mark {
}

.subtitle, #vidcont .selected {
    font-size: 55px;
    color: black;
    text-border: 1px solid black;
    background-color: pink;
    line-height:100px;
}

.edit .subtitle, .edit #vidcont .selected {
    font-size: 25px;
    line-height:60px;
}

.track.selected, .song.selected{
    font-size: 20px;
    font-weight: bold;
}